<form method="post" action="{{ path('oeuvre_delete', {'id': oeuvre.id}) }}" onsubmit="return confirm('Vous êtes sûr de bien vouloir supprimer cet oeuvre??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvre.id) }}">
    <button class="btn">Supprimer</button>
</form>
