{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{#    <header class="masthead" style="background-image: url('{{asset('assets/img/La rose.jpg')}}')">#}
    <h2 class="text-center">Bienvenue dans les oeuvres d'art</h2>
    <br><br><br>
    <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xSRq8CrwUzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Qui est l'artiste Yassine Beldjoudi?
        </h3>
        <p>
            Yassine Beldjoudi est né en 1972 à Alger dans un quartier populaire appelé Diar Es Chems (cité du soleil). Sa passion pour la peinture ensuite pour la calligraphie date depuis son enfance. Avec très peu de matériel: un crayon noir, une gomme et une feuille de papier ont suffit à Yassine de transformer sa passion en un art.
        </p>
    </div>
{% endblock %}
